---
title: Index page
nav: Products
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}

	<main class="product">
		
		<article class="product__hero">
			<div class="wrapper">
				<h4>OxyMend #1</h4>
				<h1>The last word in wound healing.</h1>
				<div class="product__hero_img">
					<img src="./img/product-hero.png" alt="">
				</div>
			</div>			
		</article>

		<article class="product__about">
			<div class="wrapper">
				<div class="product__about_descr">
					<h2>About the product</h2>
					<p>A keystone of one of television’s most popular series is the practice of therapy in HBO’s The Sopranos. The Sopranos manages to address the biases and benefits of therapy and treatment while also combining clear-cut, unavoidable realities as to its effectiveness and the reasons why it seems to be everywhere. Just like on the show, therapy has long been thought of as untrustworthy, the refuge of the weak, practiced by money grabbing pseudo.</p>
					<a href="" class="btn">Request a Sample</a>
				</div>				
				<div class="product__about_media">
						<iframe width="568" height="320" src="https://www.youtube.com/embed/NUC2EQvdzmY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>			 
		</article>

		<article class="product__features">
			<div class="product__features_bg">
				<div class="wrapper">
					<h5>Get something special</h5>
					<div class="product__features_body">
						<section class="left">
							<h2>Features</h2>
							<p>
								Kidney stones are very hard mineral deposits that happen to form in the kidney. They start off like a small microscopic particle and after a period of time develop into stones. These are formed when urine is highly concentrated.
							</p>
							<a href="" class="btn border">Get to Know More</a>
						</section>
						<section class="rigth">
							<div class="features--item">
								<div class="title">
									<img src="./img/deep-penitration.svg" alt="">
									<h4>Deep Penitration</h4>
								</div>
								<p>Microfabricated fingerlike projections enabling penetration of biofilm.</p>
							</div>
							<div class="features--item">
									<div class="title">
										<img src="./img/innovative.svg" alt="">
										<h4>Innovative</h4>
									</div>
									<p>Novel Nickel based catalytic process enables miniaturization and is embedded into silicone..</p>
								</div>

							<div class="features--item">
								<div class="title">
									<img src="./img/controlled.svg" alt="">
									<h4>Controlled</h4>
								</div>
								<p>Direct controlled oxygen delivery. Now you can control how much oxygen you’d like to have.</p>
							</div>
							<div class="features--item">
								<div class="title">
									<img src="./img/safety.svg" alt="">
									<h4>Safety</h4>
								</div>
								<p>Hermetically sealed. Hermetically sealed. Hermetically sealed. .</p>
							</div>	

							<div class="features--item">
								<div class="title">
									<img src="./img/much-oxygen.svg" alt="">
									<h4>Much Oxygen</h4>
								</div>
								<p>An electrochemical cell provides continuous oxygen flow for at least 72h.</p>
							</div>
							<div class="features--item">
								<div class="title">
									<img src="./img/ecological.svg" alt="">
									<h4>Ecological</h4>
								</div>
								<p>Disposable. Disposable. Disposable. Disposable. Disposable..</p>
							</div>
						</section>						
					</div>
				</div>
			</div>			
		</article>

		<article class="benefits">
			<div class="wrapper">
				<h6>Why we’re better</h6>
				<h2>Benefits</h2>
				<ul class="benefits__list">
					{% set benefits = [ { icon: 'delivery', title: 'Oxygen Delivery', descr:
					'High Penetration of Biofilm' }, { icon: 'mobility', title: 'Patient
					Mobility', descr: 'Wearable 24/7, Slim Profile, Flexible' }, { icon:
					'duration', title: 'Oxygen Duration', descr: '72hr Continuous Oxygen
					Flow' }, { icon: 'cost', title: 'Cost', descr: '10X Lower Cost Compared
					to HBOT' }, { icon: 'reimbursement', title: 'Insurance Reimbursement',
					descr: 'Reimbursable' } ] %} {% for item in benefits %}
					<li>
						<div class="benefits--icon">
							<img src="./img/{{ item.icon }}.svg" alt="" />
						</div>
						<div class="benefits--title">{{ item.title }}</div>
						<div class="benefits--description">{{ item.descr }}</div>
					</li>
					{% endfor %}
				</ul>
				<a href="" class="btn">Request a Sample</a>
			</div>
		</article>

		<article class="product__stats">
			<div class="wrapper">
				<div class="product__stats_graphic" data-action="graphic-touch">
					<div class="graphic--path">
						<img src="./img/product-graphic.png" alt="">
					</div>
					<div class="graphic--point">
						<span>1000 ppm for 27 min</span>
					</div>
				</div>
				<div class="product__stats_description">
					<h2>A few stats</h2>
					<p>A keystone of one of television’s most popular series is the practice of therapy in HBO’s The Sopranos. The Sopranos manages to address the biases and benefits of therapy and treatment while also combining clear-cut, unavoidable realities as to its effectiveness and the reasons why it seems to be everywhere. Just like on the show, therapy has long been thought of as untrustworthy, the refuge of the weak, practiced by money grabbing pseudo.</p>
					<a href="" class="btn border">Get to Know More</a>
				</div>
			</div>
		</article>

		<article class="product__request_trial">
			<div class="wrapper">
				<ul class="trial__tabs_switch">
					<li class="current" data-target="animal">Animal Trial</li>
					<li data-target="human">Human Trial</li>
				</ul>
				<div class="trial__tabs">
					<!-- Start Animal Trial -->
					<section class="trial__tabs_tab current">
						<div class="tab--description">
							<h2>Animal Trial</h2>
							<div class="text">A keystone of one of television’s most popular series is the practice of therapy in HBO’s The Sopranos. The Sopranos manages to address the biases and benefits of therapy and treatment while also combining clear-cut, unavoidable realities as to its effectiveness and the reasons why it seems to be everywhere. Just like on the show, therapy has long been thought of as untrustworthy, the refuge of the weak, practiced by money grabbing pseudo.</div>
						</div>
						<div class="tab--slider">
							<div class="slider">
								{% for i in range(0, 4) %}
								<div class="slide">
									<div class="slide--photo">
										<img src="./img/product-trial-slide-animal.jpg" alt="">
									</div>
									<div class="slide-description">
										<h2>1st week</h2>
										<div class="text">World over people use massage therapy to help promote healthy skin, nourish and strengthen the body, relieve stress, reduce pain, and encourage balance and well being. Massage opens and increases the flow of energy, balancing the entire</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>						
					</section>
					<!-- End Animal Trial -->
					<!-- Start Human Trial -->
					<section class="trial__tabs_tab">
							<div class="tab--description">
								<h2>Human Trial</h2>
								<div class="text">A keystone of one of television’s most popular series is the practice of therapy in HBO’s The Sopranos. The Sopranos manages to address the biases and benefits of therapy and treatment while also combining clear-cut, unavoidable realities as to its effectiveness and the reasons why it seems to be everywhere. Just like on the show, therapy has long been thought of as untrustworthy, the refuge of the weak, practiced by money grabbing pseudo.</div>
							</div>
							<div class="tab--slider">
								<div class="slider">
									{% for i in range(0, 4) %}
									<div class="slide">
										<div class="slide--photo">
											<img src="./img/product-trial-slide-animal.jpg" alt="">
										</div>
										<div class="slide-description">
											<h2>1st week</h2>
											<div class="text">World over people use massage therapy to help promote healthy skin, nourish and strengthen the body, relieve stress, reduce pain, and encourage balance and well being. Massage opens and increases the flow of energy, balancing the entire</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>						
						</section>
						<!-- End Human Trial -->
				</div>
			</div>
		</article>

		<article class="product__table">
			<div class="wrapper">
				<h2>Make your choice</h2>
				<div class="table">
					<div class="tr head">
						<div class="th"></div>
						<div class="th">Oxygen Enriched Dressing (OxyBand™)</div>
						<div class="th">Oxygen Production HW (Natrox, EPIFLO™)</div>
						<div class="th">HBOT</div>
						<div class="th">PreCare Medical (OxyMend™)</div>
					</div>
					<div class="tr">
						<div class="td">
							<span>Delivery Duration</span>
						</div>
						<div class="td">
							<span>Low (4-5 days)</span>
						</div>
						<div class="td green">
							<span>High (7-Days), Continous</span>
						</div>
						<div class="td">
							<span>Low (2hrs/day 5-days/week)</span>
						</div>
						<div class="td green">
							<span>High (7-Days), Continous</span>
						</div>
					</div>
					<div class="tr">
						<div class="td">
							<span>Patient Mobility</span>
						</div>
						<div class="td green">
							<span>High(Wearable, 24hrs/day)</span>
						</div>
						<div class="td">
							<span>Medium (Limited Wearability, bulky)</span>
						</div>
						<div class="td">
							<span>Low (HBOT Facility Visit)</span>
						</div>
						<div class="td green">
							<span>High(Wearable, 24hrs/day)</span>
						</div>
					</div>
					<div class="tr">
						<div class="td">
							<span>Cost</span>
						</div>
						<div class="td green">
							<span>Low</span>
						</div>
						<div class="td">
							<span>Medium</span>
						</div>
						<div class="td">
							<span>High ($30,000/complete trearment)</span>
						</div>
						<div class="td green">
							<span>Low</span>
						</div>
					</div>
					<div class="tr">
						<div class="td">
							<span>Reimbursable</span>
						</div>
						<div class="td green">
							<span>Yes</span>
						</div>
						<div class="td">
							<span>No</span>
						</div>
						<div class="td green">
							<span>Yes</span>
						</div>
						<div class="td green">
							<span>Yes</span>
						</div>
					</div>
					<div class="tr">
						<div class="td">
							<span>Oxygen Delivery & Production</span>
						</div>
						<div class="td">
							<span>Low (Biofilm not penetrated)</span>
						</div>
						<div class="td">
							<span>Low (Biofilm not penetrated)</span>
						</div>
						<div class="td green">
							<span>High (Biofilm bypassed via internal delivery)</span>
						</div>
						<div class="td green">
							<span>High (Biofilm penetrated)</span>
						</div>
					</div>
				</div>
			</div>
		</article>

		<article class="product__request">
			<div class="product__request_bg-1">
				<img src="./img/bg-product-form-1.svg" alt="">
			</div>
			<div class="product__request_bg-2">
				<img src="./img/bg-product-form-2.svg" alt="">
			</div>
			<div class="wrapper">
				<h2>Request a Sample</h2>
				<p>
					Disclaimer: OxyMend is not FDA cleared and is not currently available for sale.<br>
					Samples of the device are available for research and development purposes only.<br>
					Sample requests may be rejected for any reason at our sole discretion.
				</p>
				<div class="product__request_form">
					<form action="">
						<div class="form-control">
							<label>Name*</label>
							<input type="text" name="" autocomplete="off">
							<span class="error-text">Incorrect name!</span>
						</div>
						<div class="form-control">
							<label>Organization</label>
							<input type="text" name="" autocomplete="off">
							<span class="error-text">Incorrect organization!</span>
						</div>
						<div class="form-select">
							<select name="" id="">
								<option>Type*</option>
								<option value="">Type-1</option>
								<option value="">Type-2</option>
								<option value="">Type-3</option>
							</select>
						</div>
						<div class="form-control error">
							<label>Email</label>
							<input type="email" name="" autocomplete="off">
							<span class="error-text">Incorrect name!</span>
						</div>
						<div class="form-control">
							<label>Phone Number</label>
							<input type="text" id="phone-mask" name="" autocomplete="off" maxlength="12">
							<span class="error-text">Incorrect phone number!</span>
						</div>
						<div class="form-select">
							<select name="" id="">
								<option>Country*</option>
								<option value="">Country-1</option>
								<option value="">Country-2</option>
								<option value="">Country-3</option>
							</select>
						</div>
						<div class="form-select">
							<select name="" id="">
								<option>State/Province*</option>
								<option value="">State-1</option>
								<option value="">State-2</option>
								<option value="">State-3</option>
							</select>
						</div>
						<div class="form-select">
							<select name="" id="">
								<option>City*</option>
								<option value="">City-1</option>
								<option value="">City-2</option>
								<option value="">City-3</option>
							</select>
						</div>
						<div class="form-control">
							<label>Zip/Postal Code*</label>
							<input type="text" name="" autocomplete="off">
							<span class="error-text">Incorrect Zip/Postal!</span>
						</div>
						<div class="form-control">
							<label>Street Address*</label>
							<input type="text" name="" autocomplete="off">
							<span class="error-text">Incorrect Street Address!</span>
						</div>
						<div class="form-checkbox">
							<div class="checkbox-custom close">
								<input type="checkbox" id="confirm">
								<label for="confirm">
									<p class="pre">By checking this box, I agree I want to receive email, news <a href="" data-action="more">More...</a></p>
									<p class="all">By checking this box, I agree I want to receive email, news, and promotions about Oxymend and other PreCare Medical products and services by email, phone and mail to the contact information I am submitting. I consent to PreCare Medical, its affiliates and service providers processing my personal data for these purposes and as described in the Privacy Policy. I understand that I can withdraw my consent at any time.</p>
								</label>
							</div>
						</div>
						<div class="form--submit">
							<button class="btn">Request a Sample</button>
						</div>
					</form>
				</div>
			</div>			
		</article>

		<article class="product__faq">
			<div class="wrapper">
				<h2>FAQ</h2>
				<ul class="faq__list">
					{% set list = ["How can I order this device?", "What happens if I'd break the sample device?", "When will be a release?", "How it works?", "When will be a release?"]%}
					{% for i in list %}
					<li>
						<div class="title">
							
							<span>{{i}}</span>
						</div>
						<div class="answer">
							<div class="answer--block">
								<p>You can find a detailed description of the processes is going when the device working on the <a href="">Technology</a> page.</p>									
							</div>							
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</article>

	</main>

{% include "partials/_footer.html" %}
{% endblock %}
