main.products {
  margin-top: 64px;
  padding-top: 96px;
  padding-bottom: 50px;
  .products__item {
    margin-bottom: 130px;
    .marker {
      margin-bottom: 16px;
    }
    .products__item_body {
      display: flex;
      .item--description {
        width: 640px;
        flex-shrink: 0;        
        h2 {
          
          margin-bottom: 24px;
        }
        p {
          opacity: 0.8;
        }
        .btn {
          margin-top: 40px;
        }
      }
      .item--slider {
        margin-left: 140px;
        width: 220px;
        .slider {
          position: relative;
          .slick-arrow {
            display: block;
            width: 48px;
            height: 48px;
            font-size: 0;
            border-radius: 50%;
            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12);
            background-color: #ffffff;
            position: absolute;
            bottom: -70px;
            &.slick-prev {
              background: url('../img/slider-arrow-left.svg') no-repeat center / 16px auto;
              left: 42px;
            }
            &.slick-next {
              background: url('../img/slider-arrow-right.svg') no-repeat center / 16px auto;
              right: 42px;
            }
          }
          img {
            width: 100%;
          }
        }
        
      }
    }
  }

  // @max-width: 900px
  @media screen and (max-width: 900px) {
    .products__item {
      margin-bottom: 110px;
      &:last-child {
        margin-bottom: 0;
      }
      .products__item_body {
        flex-direction: column;
        .item--description {
          order: 2;
          width: auto;
        }
        .item--slider {
          order: 1;
          margin: 0 auto 95px auto;
        }
      }
      .btn {
        margin: 40px auto 0 auto;
      }
    }
  }
  // End @max-width: 900px
}

main.product {
  padding-top: 64px;
  .product__hero {
    margin-top: 72px;
    h4 {
      text-align: center;
      color: $colorHover;
    }
    h1 {
      margin-top: 16px;
      text-align: center;
      font-size: 48px;
    }
    .product__hero_img {
      margin: 100px auto 0 auto;
      width: 633px;      
      img {
        width: 100%;
      }
    }
  }
  .product__about {
    margin-top: 110px;
    background: url('../img/bg-latest-news.svg') no-repeat left center / contain;
    .wrapper {
      display: flex;
      justify-content: space-between;
      .product__about_descr {
        width: 520px;
        padding-top: 80px;
        h2 {
          margin-bottom: 16px;
        }
        .btn {
          margin-top: 56px;
        }
      }
      .product__about_media {
        width: 568px;
        padding-top: 53px;
      }
    }
  }
  .product__features {
    margin-top: 64px;    
    background: url('../img/bg-product-features-2.svg') no-repeat right top / auto 490px;
    .product__features_bg {
      padding: 100px 0 195px 0;
      background: url('../img/bg-product-features-1.svg') no-repeat left bottom / auto 490px;
    }
    h5 {
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.07px;
      color: #44d4ca;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    .product__features_body {
      display: flex;
      justify-content: space-between;
      .left {
        width: 33.333333333333336%;
        flex-shrink: 0;
        margin-right: 32px;
      }
      .rigth {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .features--item {
          width: calc(50% - 16px);          
        }
      }
      section {        
        h2 {
          line-height: normal;
        }
        p {
          margin-top: 24px;
          line-height: 1.63;
        }
        .btn {
          margin-top: 64px;
        }
        .features--item {
          margin-bottom: 40px;
          .title {
            display: flex;
            align-items: center;
            img {
              width: 40px;
              height: 40px;
              margin-right: 12px;
            }            
          }
          p {
            margin-top: 16px;
          }
        }
      }
    }
  }
  .benefits {
    margin-top: -80px;
    text-align: center;
    background: url('../img/bg-benefits.svg') no-repeat right top / auto 670px;
    h2 {
      margin-top: 8px;
    }
    .benefits__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 48px -16px 0 -16px;      
      li {
        border-radius: 8px;
        box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
        height: 342px;
        width: calc(33.333333% - 32px);
        margin: 0 16px 40px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .benefits--icon {
          width: 120px;
          height: 120px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .benefits--title {
          margin-top: 40px;
          font-size: 24px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.15px;
          text-align: center;
        }
        .benefits--description {
          margin-top: 16px;
          opacity: 0.8;          
        }
      }
    }
    .btn {
      margin: 24px auto 0 auto;
    }
  }
  .product__stats {
    margin-top: 88px;
    position: relative;
    z-index: 1;
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
    .product__stats_graphic {
      width: 503px;
      height: 455px;
      flex-shrink: 0;
      position: relative;
      border-radius: 8px;
      box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.07);
      background: #ffffff url('../img/product-graphic.png') no-repeat center right / 503px auto;
      &:hover {
        @media screen and (min-width: 900px) {
          .graphic--point {
            span {
              transform: translateX(-50%) scale(1);
            }
          }  
        }        
      }
      cursor: pointer;
      .graphic--path {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        img {
          width: 100%;
        }
      }
      .graphic--point {
        width: 16px;
        height: 16px;
        background-color: #1c8bde;
        border-radius: 50%;
        position: absolute;
        right: 214px;
        bottom: 269px;
        span {
          display: flex;
          white-space: nowrap;
          height: 40px;
          border-radius: 4px;
          box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.07);
          background-color: #ffffff;
          padding: 0 16px;
          align-items: center;
          position: absolute;
          bottom: calc(100% + 5px);
          left: 50%;
          transform: translateX(-50%) scale(0);
          transition: all 200ms ease;
        }
      }
    }
    .product__stats_description {
      flex-grow: 1;
      margin-left: 98px;
      padding-top: 34px;
      h2 {
        margin-bottom: 16px;
      }
      .btn {
        margin-top: 56px;
      }
    }
  }
  .product__request {
    margin-top: 100px;
    text-align: center;
    position: relative;
    .product__request_bg-1 {
      width: 280px;
      position: absolute;
      z-index: 0;
      right: 0;
      bottom: 64px;
      img {
        width: 100%;
      }
    }
    .product__request_bg-2 {
      width: 313px;
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: -21px;
      img {
        width: 100%;
      }
    }
    p {
      margin-top: 24px;
    }
    .product__request_form {
      width: 432px;
      margin: 40px auto 0 auto;
      text-align: left;
      .form-control,
      .form-select {
        margin-bottom: 20px;
      }
      .form--submit {
        margin-top: 28px;
        text-align: center;
        .btn {
          margin: auto;
        }
      }
    }
  }
  .product__faq {
    margin-top: 144px;
    background: url('../img/bg-product-faq.png') no-repeat right bottom / auto 519px;
  }
  .faq__list {
    margin-top: 44px;
    width: 670px;
    li {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }        
      &.active {
        .title {
          color: $colorHover;
          &::before {
            border-top-color: $colorHover;
            transform: rotate(180deg);
          }
        }
      }
      .title {
        display: flex;
        align-items: center;
        padding: 18px 24px 18px 30px;
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;        
        cursor: pointer;
        transition: all 250ms ease;
        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #333;
          margin-right: 24px;
          transition: all 250ms ease;
        }        
      }
      .answer {
        padding-top: 16px;
        padding-left: 32px;
        overflow: hidden;
        display: none;
        .answer--block {
          border-radius: 8px;
          background-color: #f1f4f9;
          padding: 16px 32px;
          color: rgba(51, 51, 51, 0.8);
          p {          
          
          }
          a {
            color: $colorHover;
          }
        }        
      }
    }
  }

  .product__request_trial {
    margin-top: 120px;
    .wrapper {
      text-align: center;
    }
    .trial__tabs_switch {
      display: inline-flex;
      margin: auto;
      height: 72px;
      background-color: rgba(236, 242, 249, 0.5);
      border-radius: 36px;      
      li {
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 36px;
        padding: 0 72px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        transition: all 250ms ease;
        &.current {
          background-color: $colorHover;
          color: #fff;
        }
      }
    }
    .trial__tabs {
      margin-top: 72px;
      .trial__tabs_tab {
        display: flex;
        text-align: left;
        align-items: center;
        &.current {
          
        }
        .tab--description {
          margin-right: 32px;
          flex-grow: 1;
          h2 {
            margin-bottom: 16px;
          }
          .text {

          }
        }
        .tab--slider {          
          width: 60%;
          flex-shrink: 0;
          .slider {
            .slide {
              position: relative;
              color: #fff;
              .slide--photo {
                img {
                  width: 100%;
                }
              }
              .slide-description {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0 24px 32px 24px;
                h2 {
                  margin-bottom: 16px;
                }
                .text {
                  opacity: 0.8;
                }
              }
            }
            .slick-arrow {
              display: block;
              width: 48px;
              height: 48px;
              font-size: 0;
              border-radius: 50%;
              box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12);
              background-color: #ffffff;
              position: absolute;
              bottom: calc(-76px - 48px);
              &.slick-prev {
                background: url('../img/slider-arrow-left.svg') no-repeat center / 16px auto;
                left: calc(50% - 68px);
              }
              &.slick-next {
                background: url('../img/slider-arrow-right.svg') no-repeat center / 16px auto;
                right: calc(50% - 68px);
              }
            }
            .slick-dots {
              display: flex;
              position: absolute;
              width: 100%;
              justify-content: center;
              left: 0;              
              bottom: -42px;
              li {
                width: 8px;
                height: 8px;
                background-color: $colorHover;
                border-radius: 50%;
                opacity: 0.2;
                margin: 0 4px;
                transition: all 250ms ease;
                &.slick-active {
                  opacity: 1;
                  transform: scale(1.4);
                }
                button {
                  display: none;
                }
              }
            }
          }
        }        
      }
    }    
  }
  .product__table {
    margin-top: 220px;
    h2 {

    }
    .table {
      margin-top: 32px;
      display: table;
      @media screen and (max-width: 1100px) {
        font-size: 14px;
      }
      .tr {
        display: table-row;
        &:not(.head):nth-child(odd) {
          background-color: #ecf2f9;
        }
        &.head {
          border-radius: 8px;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
          background-color: #ffffff;
          color: $colorHover;
        }
      }
      .td,
      .th {
        display: table-cell;
        height: 72px;
        vertical-align: middle;
        font-weight: 500;        
        line-height: 1.25;
        letter-spacing: -0.1px;
        border-right: 1px solid #ecf2f9;
        text-align: center;
        padding: 0 24px;        
        &:not(:first-child) {
          span {
            &:first-child {
              display: none;
            }
          }
        }
        &:first-child {
          text-align: left;
          color: $colorHover;
        }
        &:last-child {
          border-right: none;
        }
        &.green {
          color: #44d4ca;
        }
      }
    }
  }

  // @max-width: 900px
  @media screen and (max-width: 900px) {
    .product__hero {
      margin-top: 32px;
      h1 {
        font-size: 32px;
        margin-top: 8px;
      }
      .product__hero_img {
        margin: 51px auto 0 auto;
        width: 100%;
        max-width: 350px;
      }
    }
    .product__about {
      margin-top: 44px;
      .wrapper {
        flex-direction: column;
        .product__about_descr {
          padding-top: 0;
          width: auto;
          h2 {
            font-size: 30px;
          }
          p {
            opacity: 0.8;
          }
          .btn {
            margin: 40px auto 0 auto;
          }
        }
        .product__about_media {
          width: 100%;
          iframe {
            width: 100%;
            height: 51vw;
          }
        }
      }      
    }
    .product__features {
      margin-top: 80px;
      background: none;
      .wrapper {
        position: relative;
      }
      .product__features_bg {
        padding-top: 0;
        padding-bottom: 64px;
        background: none;
      }
      .product__features_body {
        flex-direction: column;
        .left {
          width: 100%;
          margin: 0;
          h2 {
            font-size: 30px;
          }
          p {
            margin-top: 16px;
            opacity: 0.8;
          }
          .btn {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 0;
          }
        }
        .rigth {
          margin-top: 44px;
          flex-direction: column;
          .features--item {
            width: 100%;
            p {
              opacity: 0.8;
            }
          }
        }
      }
    }
    .benefits {
      margin-top: 80px;
      background-position: right center;
      h2 {
        font-size: 30px;
      }
      .benefits__list {
        display: block;
        margin: 32px 0 0 0;
        li {
          width: 100%;
          max-width: 350px;
          margin: 0 auto 32px auto;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .btn {
        margin-top: 48px;
      }
    }
    .product__stats {
      margin-top: 90px;
      .wrapper {
        flex-direction: column;
        .product__stats_graphic {
          width: 100%;          
          max-width: 503px;
          max-height: 455px;
          margin: 0 auto;
          cursor: default;          
          .graphic--point {
            span {
              &.show {
                transform: translateX(-50%) scale(1);
              }
              @media screen and (max-width: 400px) {
                top: 50%;
                left: calc(100% + 10px);
                bottom: auto;
                transform-origin: top;
                &.show {
                  transform: translateY(-50%) scale(1);
                }
              }
            }              
          }
        }
        .product__stats_description {
          padding-top: 0;
          margin: 32px auto 0 auto;
          h2 {
            font-size: 30px;
          }
          p {
            opacity: 0.8;
          }
          .btn {
            margin: 40px auto 0 auto;
          }
        }
      }
    }
    .product__request {
      margin-top: 96px;
      .product__request_bg-1,
      .product__request_bg-2 {
        display: none;
      }
      h2 {
        font-size: 30px;
      }
      p {
        opacity: 0.8;
        text-align: left;
        margin-top: 16px;
      }
      .product__request_form {
        margin: 32px 0 0 0;
        width: auto;
        .form--submit {
          margin-top: 48px;
        }
      }      
    }
    .product__faq {
      margin-top: 96px;
      background: none;
      h2 {
        font-size: 30px;
      }
      .faq__list {
        margin-top: 32px;
        width: auto;
        li {
          .answer {
            padding-left: 0;
          }
        }
      }
    }
    .product__table {
      h2 {
        display: none;
      }
      .table {
        display: block;
        .tr {
          display: block;
          border-radius: 8px;
          box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.07);
          background-color: #ffffff!important;
          margin-bottom: 32px;
          &.head {
            display: none;
          }
          .td {
            display: flex;
            align-items: center;
            height: 56px;
            justify-content: space-between;
            text-align: right;
            padding: 0 12px;
            span {
              width: 50%;              
              &:first-child {
                color: $colorHover;
                padding-right: 12px;
                text-align: left;
                display: block;
              }
              &:last-child {                
                padding-left: 12px;
              }
            }
            &:first-child {
              height: 80px;
              font-size: 20px;
              font-weight: bold;
              justify-content: center;
              span {               
                color: $colorText;
                width: 100%;
                text-align: center;
              }              
            }
            &:nth-child(even) {
              background-color: #ecf2f9;
            }
          }
        }        
      }
    }
    .product__request_trial {
      h2 {
        font-size: 30px;
      }
      .trial__tabs_switch {
        height: 56px;
        li {
          font-size: 18px;
          padding: 0 24px;
          font-weight: 500;
        }
      }
      .trial__tabs {
        margin-top: 56px;  
      }
      .trial__tabs_tab {
        flex-direction: column;        
        .tab--description {
          margin-right: 0;
          margin-bottom: 32px;
        }
        .tab--slider {
          width: 100%!important;
          .slide-description {
            padding-bottom: 24px!important;
            h2 {
              font-size: 20px;
              margin-bottom: 0!important;
            }
            .text {
              display: none;
            }
          }
        }
      }
    }
  }
  // End @max-width: 900px
}