<footer>
  <div class="wrapper">
    <div class="footer__logo">
      <a href="">
        <img src="./img/footer-logo.svg" alt="">
      </a>
    </div>
    <ul class="footer__nav">
      <li>
        <b>Discover</b>
        <a href="">Products</a>
        <a href="">Technology</a>
        <a href="">News</a>
      </li>
      <li>
        <b>Company</b>
        <a href="">About</a>
        <a href="">Careers</a>
        <a href="">Contact</a>
      </li>
      <li>
        <b>Resources</b>
        <a href="">Documents</a>
        <a href="privacy.html">Privacy Policy</a>
        <a href="terms.html">Terms & Conditions</a>
        <a href="intellectual-property.html">Intellectual Property</a>
      </li>
    </ul>
    <div class="footer__social">
      <a href="">
        {{mixins.icon('facebook')}}
      </a>
      <a href="">
        {{mixins.icon('linkedin')}}
      </a>
      <a href="">
        {{mixins.icon('twitter')}}
      </a>
    </div>
  </div>
  <div class="footer__copyright">
    <p>Device is not FDA approved and is currently under development</p>
    <p>©Oxymend 2019</p>
  </div>
</footer>
