footer {
  position: relative;
  background-color: $colorHover;  
  margin-top: 130px;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 130px;
    background: url('../img/bg-footer.svg') no-repeat center top / 100% auto;
    position: absolute;
    left: 0;
    top: -130px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer__logo {
    width: 150px;
    img {
      width: 100%;
    }
  }
  .footer__nav {
    display: flex;
    li {
      color: #fff;
      display: flex;
      flex-direction: column;
      line-height: normal;
      margin-right: 75px;
      &:last-child {
        margin-right: 0;
      }
      b {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 16px;
      }
      a {
        color: #fff;
        opacity: 0.8;
        margin-bottom: 12px;
        transition: all 250ms ease;
        &:hover {
          opacity: 1;
        }        
      }
    }
  }
  .footer__social {
    display: flex;
    margin-top: 20px;
    a {
      display: flex;
      width: 44px;
      height: 44px;
      justify-content: center;
      align-items: center;
      .icon {
        fill: #fff;
        opacity: 0.8;
        transition: all 250ms ease;        
      }
      &:hover {
        .icon {         
          opacity: 1;         
        } 
      }
    }
  }
  .footer__copyright {
    margin-top: 38px;
    height: 100px;
    background-color: #177fcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.6;
    p {
      line-height: 1;
      margin: 8px 0;
    }        
  }

  // @max-width: 900px
  @media screen and (max-width: 900px) {
    &::before {
      height: 70px;
      top: -70px;
    }
    .wrapper {
      flex-direction: column;
      align-items: center;
    }
    .footer__logo {
      line-height: 1;
      margin-top: 18px;
    }
    .footer__nav {
      flex-direction: column;
      margin-top: 40px;
      li {
        display: none;
        font-size: 16px;        
        &:last-child {
          display: flex;
          align-items: center;
          b {
            display: none;
          }
          a {
            margin-bottom: 24px;
          }
        }
      }
    }
    .footer__social {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        margin: 0 20px;
        .icon {
          fill: #fff;
        }
        .icon-facebook {
          width: 17px;
          height: 34px;
        }
        .icon-twitter {
          width: 31px;
          height: 27px;
        }
        .icon-linkedin {
          width: 34px;
          height: 32px;
        }
      }
    }
    .footer__copyright {
      padding: 24px 40px;
      text-align: center;
    }
  }
  // End @max-width: 900px
}